.reg-otp-cont{
	width: 85%;
	margin: auto;
}

.timeout{
	color: var(--sec-text-color);
	display: block;
	text-align: center;
	font-weight: 400;
}
.click-link{
	color: var(--para-color);
}

.click-link:hover{
	color: var(--para-color);
}